# 実行ファイル
terminal64.exe
metaeditor64.exe

# ログ・キャッシュ
*.log
*.dat
*.csv
**/*.csv
*.cache
*.tmp
*.old
*.bak
*.ex5
*.chr

# ユーザー設定や履歴
profiles/
logs/
tester/
Logs/
Files/５
Shared Projects/
Profiles/
Images/
Include/
Services/

# システムファイル
Thumbs.db
Desktop.ini